<header class="header">
  <a routerLink="" class="logo"></a>
  <div class="autorization-panel">
    <a routerLink='login' class="signin">Log in</a>
    <a routerLink='register' class="singup">Get Anvello for free</a>
  </div>
</header>

<main class="main">
  <h1>Welcome to Anvello! </h1>
  <h3>Project Management app that will help you create and organize your projects, set milestones and deadlines, and
    track progress in real-time</h3>
  <div class="hero-content">
    <div class="welcom-text">
      <div>
        Take a moment to explore our features!<br>
        Start creating your first project!
      </div>
      <a routerLink="/singup" class="singup">Lets start for free!</a>
      <div>
        We're here to support you every step!<br>
        We will help you achieve your goals!
      </div>
    </div>
    <img class="hero-img" src="assets/hero-img.png"
      alt="a picture of people working with tasks and documents around a laptop">
  </div>
  <h3>Thank you for choosing our app, and happy project managing!</h3>
</main>

<footer class="footer">
  <div>Created by <a href="https://github.com/anvianvi" target="_blank">Pavel Viarbitsi</a> in March 2023 for <a
      href="https://rs.school/angular/" target="_blank">The Rolling Scopes</a></div>
</footer>