<header class='header'>
  <a routerLink='' class='logo'></a>
  <nav>
    <a routerLink="protected/home" routerLinkActive="active">Home</a>
    <!-- <a routerLink="/main/child2" routerLinkActive="active">Child 2</a> -->
    <button mat-raised-button (click)="logout()">Logout (remove token from localstorage)</button>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class='footer'>
  <div>Created by <a href='https://github.com/anvianvi' target='_blank'>Pavel Viarbitsi</a> in March 2023 for <a
      href='https://rs.school/angular/' target='_blank'>The Rolling Scopes</a></div>
</footer>