<div>
  <div class="boards-nav">

    <button color="primary" class="create-board-button" (click)="createBoard()">
      <mat-icon>add</mat-icon>
      <span>Create new board</span>
    </button>

    <div class="boards-list">
      <div *ngFor="let board of boards" class="board-element">
        <span>{{ board.title }}</span>
        <button (click)="deleteBoard(board._id, board.title )">
          delete board
        </button>
      </div>
    </div>

  </div>
  <div clas="boards-content"></div>
</div>