<div class="boards-nav">
  <button color="primary" class="create-board-button" (click)="createBoard()">
    Create new board
  </button>
  <div class="boards-list">
    <div *ngFor="let board of boards" class="board-element" [class.active]="board._id === selectedBoardId"
      (click)="selectBoard(board._id)">
      <span>{{ board.title }}</span>
      <button (click)="deleteBoard(board._id, board.title )">
        <!-- delete board -->
      </button>
    </div>
  </div>
</div>

<div class="boards-content">
  <ng-container *ngIf="selectedBoardId">
    <div class="column-list"  cdkDropList (cdkDropListDropped)="onColumbDrop($event)">
      <div *ngFor="let column of columns" class="column-element" cdkDrag>
        <div class="column-title">{{ column.title }}</div>
        <div class="column-content">{{column._id}}</div>
      </div>
    </div>
    <div class="create-column">
      <input type="text" [(ngModel)]="newColumnTitle" placeholder="Enter column title">
      <button (click)="createColumn()">Create column</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!selectedBoardId">
    <p>Please select a board</p>
  </ng-container>
</div>